body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 153, 0);
    display: flex;
    justify-content: 
    space-around;
    align-items: center;
    font-size: 24px;
    position: fixed;
    top: 0;
    font-family: sans-serif;
    gap: 300px;
    
}
.menu ul{
    list-style: none ;
}
.menu ul li{
    display: inline-block ;
    margin-right: 26px;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    color: black;
    transition: ease 0.5s;
}
.menu ul li button{
    background-color: rgb(255, 153, 0);
    border: 2px solid white;
    border-radius: 70px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 21px;
}
.menu ul li button:hover{
    background-color: white;
    color: black;
     transition: ease 0.5s;
}
.sidebar{
    width: 20%;
    height: 550px;
    background-color: rgb(0, 162, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.main{
    width: 80%;
    height: 530px;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 20px;
    padding-top: 20px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.box:hover{
    background-color: lightgrey;
    transition: ease 0.5s;
}

@media (max-width: 600px){
    .container{
        width: 80%;
        grid-area: 1;
    }
}
