body{
    background-color: #f3f3f3;
}

.card_login{
    background-color: white;
    width: 400px;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
input{
    padding: 4%;
}

.judul_login{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.ket_daftar{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}